$white: #ffff;
$lighterblue: #e0fcff;
$primary-color: #f21e4e;
$light-primary-color: #f25e46;
$grey: #102a42;
$grey-2: #324d67;

$transition: all 0.3s linear;
$spacing: 0.2rem;
$raduis: 0.25rem;
//Fonts
$ff-primary: 'Open Sans', sans-serif;
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16px
$font-lg: 1.125rem; //18px
